#mainCanvas {
  display: block;
  margin: auto;
  width: 800;
  height: 800;
  background-color: aliceblue;
}

.grid-container {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
}

.grid-item {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.centered-range {
  display: flex;
  align-items: center;
}

ul {
  padding-left: 10px;
  padding-bottom: 10px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* https://www.geeksforgeeks.org/how-to-add-image-into-dropdown-list-for-each-items */

.dropbtn { 
  background-color: #4CAF50; 
  color: white; 
  padding: 8px; 
  margin-right: 5px;
  font-size: 16px; 
  border: none; 
  cursor: pointer;
  border-radius: 12px;
} 

.dropdown { 
  position: relative; 
  display: inline-block; 
} 

.dropdown-content { 
  display: none; 
  position: absolute; 
  padding: 12px 12px; 
  background-color: #f9f9f9; 
  box-shadow: 0px 8px 16px  
      0px rgba(0, 0, 0, 0.2); 
  z-index: 1; 
} 

.dropdown-content a { 
  color: black; 
  padding: 12px 12px; 
  text-decoration: none; 
  display: block; 
} 

.dropdown-content a:hover { 
  background-color: #f1f1f1 
} 

.dropdown:hover .dropdown-content { 
  display: block; 
} 

.dropdown:hover .dropbtn { 
  background-color: #3e8e41; 
} 